@import url('https://fonts.googleapis.com/ccs2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo base del encabezado */
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    z-index: 99;
    background: transparent;
}

/* Estilo de los enlaces de navegación */
.header .nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
}

/* Estilo de los enlaces de navegación al pasar el cursor por encima */
.nav a:hover {
    border-bottom: 4px solid #fff;
    transition: .5s;
}

/* Estilo de los íconos de búsqueda y usuario en el encabezado */
.search i {
    color: #fff;
    font-size: 1.5em;
    margin-left: 10px;
}

/* Estilo del fondo con efecto de desenfoque */
.background {
    width: 100%;
    height: 100vh;
    background-image: url('Background.png');
    background-position: center;
    background-size: cover;
    filter: blur(5px);
}

/* Estilo del contenedor principal */
.home {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: auto;
    transform: translate(-50%, -50%);
    background-image: url('Background.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}

/* Estilo del contenido principal */
.content {
    width: 100%;
    padding: 50px 5%;
    text-align: center;
}

/* Estilo del logo */
.content a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
}

/* Estilo del título principal */
.content h2 {
    font-size: 2.5em;
    letter-spacing: 5px;
}

/* Estilo del subtítulo */
.content h3 {
    font-size: 1.5em;
}

/* Estilo de la sección de iconos de redes sociales */
.content .icon {
    margin-top: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

/* Estilo de los íconos de redes sociales */
.content .icon i {
    margin: 0 10px;
    color: #fff;
}

/* Estilo del formulario de inicio de sesión */
.login {
    width: 100%;
    padding: 50px 5%;
    backdrop-filter: blur(10px);
}

/* Estilo del título del formulario de inicio de sesión */
.login h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* Estilo de los campos de entrada */
.login .input {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo de los campos de entrada de texto */
.login .input .input1 {
    font-size: 16px;
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

/* Estilo de los marcadores de posición en los campos de entrada */
::placeholder {
    color: #fff;
    font-size: 16px;
}

/* Estilo de los íconos en los campos de entrada */
.login .input i {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
}

/* Estilo de la sección de "Recordar" y "¿Olvidaste la contraseña?" */
.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #fff;
}

/* Estilo de los enlaces "¿Olvidaste la contraseña?" */
.check a {
    text-decoration: none;
    color: #fff;
}

/* Estilo de los enlaces al pasar el cursor por encima */
.check a:hover {
    text-decoration: underline;
}

/* Estilo del botón de inicio de sesión */
.login .button {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

/* Estilo del botón al hacer clic */
button {
    width: 100%;
    height: 40px;
    background-color: rgb(66, 44, 48);
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: #fff;
}

/* Estilo del botón al hacer clic */
button:active {
    font-size: 25px;
}

/* Estilo de la sección de "¿No tienes una cuenta?" */
.login .sign-up {
    display: flex;
    justify-content: center;
}

/* Estilo del enlace "Regístrate" */
.login .sign-up a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

/* Estilo del párrafo "¿No tienes una cuenta?" */
.login .sign-up p {
    color: #fff;
}

/* Estilo del enlace "Regístrate" al pasar el cursor por encima */
.sign-up a:hover {
    text-decoration: underline;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .header .nav {
        display: none;
    }

    .search {
        display: none;
    }

    .content a {
        top: -20px;
        left: 10px;
        font-size: 1.5em;
    }

    .content h2 {
        font-size: 2.5em;
    }

    .content h3 {
        font-size: 1.2em;
    }

    .content pre {
        font-size: 1em;
    }

    .content .icon {
        font-size: 1.2em;
    }

    .login .input i {
        right: 5px;
        bottom: 12px;
    }
}

/* Estilos para pantallas muy pequeñas (smartphones) */
@media (max-width: 480px) {
    .header .nav {
        display: none;
    }

    .search {
        display: none;
    }

    .content a {
        top: -10px;
        left: 5px;
        font-size: 1.2em;
    }

    .content h2 {
        font-size: 2em;
    }

    .content h3 {
        font-size: 1em;
    }

    .content pre {
        font-size: 0.9em;
    }

    .content .icon {
        font-size: 1em;
    }

    .login .input i {
        right: 2px;
        bottom: 10px;
    }
}

