<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sousou no Frieren está entre lo más visto esta temporada</title>
    <link rel="stylesheet" href="../static/Noticias.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
    <header>
        <div class="menu-container">
            <div class="logo">
                <img src="../images/logo.jpg" alt="Logo" id="logo">
            </div>
            <div class="menu" id="menu2">
                <a href="Registro.html">Registrar</a>
                <a href="Logueo.html">Ingresar</a>
            </div>
        </div>        
        <script src="../script/Inicio.js"></script>
        <div class="navDiv">
            <label for="menu">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        <input type="checkbox" id="menu">
        <ul class="nav">
            <label for="menu">
                <i class="fas fa-times"></i>
            </label>
            <li><a href="Inicio.html">Inicio</a></li>
            <li><a href="#skill">Populares</a></li>
            <li><a href="#proyect">Noticias Recientes</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </header>
    <div class="background"></div>
    <div class="container">
        <div class="banner" id="home">
            <div class="content">
                <h1>Sousou no Frieren está entre lo más visto esta temporada</h1>
                <span class="op5 mar2">
                    <i class="fa-clock far op7 mar"></i>
                    31 octubre, 2023
                </span>
                <p>Ya previamente hemos hablado sobre GEM Partners, una compañía japonesa que realiza encuestas semanales para 
                   saber cuáles son los contenidos más vistos en televisión y servicios de streaming en Japón. Si bien estas 
                   encuestas comenzaron con una participación bastante pequeña como para considerarse relevante, los reportes 
                   más recientes señalan la participación de más de 24,500 personas a través de los medios de la compañía, en 
                   su mayoría electrónicos. Sin embargo, los métodos de la compañía todavía son cuestionables, puesto que 
                   preguntan en general que es lo que los encuestados han visto recientemente en servicios de streaming. 
                   Esto significa que no son encuestas de popularidad de la temporada actualmente en emisión, puesto que alguien 
                   podría decir que “miró Dragon Ball recientemente” y esto contaría como un punto hacia esta franquicia dentro de 
                   este listado.
                   Aún así, parece que los resultados están llamando la atención entre los foros de opinión en Japón, puesto que 
                   el ranking para la tercera semana de Octubre-2023 (17/10/2023~23/10/2023) posicionaron a Jujutsu Kaisen en la 
                   primera posición, seguido por SPY x FAMILY y Sousou no Frieren (Frieren: Beyond Journey’s End).
                </p>    
                    <p>Ranking de Popularidad en Servicios de Streaming (Semana 3 de Octubre-2023):</p>
                    <p>1. Jujutsu Kaisen 2nd Season.</p>
                    <p>2. SPY x FAMILY 2nd Season.</p>
                    <p>3. Sousou no Frieren.</p>
                    <p>4. Detective Conan.</p>
                    <p>5. One Piece.</p>
                    <p>6. Last One Standing (programa live-action).</p>
                    <p>7. Silent Parade (película live-action).</p>
                    <p>8. Oshi no Ko.</p>
                    <p>9. Kimetsu no Yaiba.</p>
                    <p>10. Rurouni Kenshin.</p>
                    <p>11. The Eminence in Shadow.</p>
                    <p>12. Professional Baseball (programa live-action).</p>
                    <p>13. Jigen Daisuke (programa live-action).</p>
                    <p>14. Kingdom.</p>
                    <p>15. Dragon Ball.</p>
                    <p>Y claro, los resultados llamaron inmediatamente la atención de los internautas japoneses:</p>
                    <p>«¿De qué va este ranking? No entiendo que hace Dragon Ball en la lista».</p>
                    <p>«Parece que han cambiado el método de encuesta para abarcar a más personas, pero ni así me parece que 
                    los resultados sean confiables».</p>
                    <p>«Detective Conan y One Piece siguen siendo fuertes a pesar de los años».</p>
                    <p>«Me está dando la sensación de que Kusuriya no Hitorigoto entrará pisando fuerte esta temporada, por eso 
                    acaba de estrenarse».</p>
                    <p>«Blue Lock fue un fracaso en cuanto a streaming y ventas de discos Blu-ray/DVD, pero la obra original 
                    y toda la mercadería se venden como pan caliente. ¿Qué sentido tiene todo esto?».</p>
                    <p>«Toda esta temporada ha sido una basura, no he visto ningún estreno que me llame la atención».</p>
                    <p>«Sea como sea, este ranking demuestra que el único contenido interesante en este país es el anime».</p>
                    <p>«Hay una tendencia de que las segundas y terceras temporadas caigan en ímpetu. Pero parece que tanto 
                    Jujutsu Kaisen como SPY x FAMILY están siendo la excepción a la regla».</p>
                    <p>«Creo que esta segunda temporada de SPY x FAMILY está siendo demasiado infravalorada».</p>
                    <p>También resulta que, habiendo pasado un mes desde el inicio de la temporada de Otoño-2023 
                    (Octubre-Diciembre), el popular medio japonés Anime!Anime! condujo su acostumbrada encuesta de popularidad 
                    en donde preguntó a sus lectores por su serie favorita hasta el momento, y los resultados fueron los siguientes:</p>
                    
                    <p>1. Sousou no Frieren.</p>
                    <p>2. SPY x FAMILY 2nd Season.</p>
                    <p>3. Kusuriya no Hitorigoto.</p>
                    <p>4. Dr. STONE NEW WORLD Part 2.</p>
                    <p>5. Tokyo Revengers: Tenjiku-hen.</p>
                    <p>6. The Idolmaster Million Live!.</p>
                    <p>7. HYPNOSIS MIC -Division Rap Battle- Rhyme Anima 2nd Season.</p>
                    <p>8. HYPNOSIS MIC -Division Rap Battle- Rhyme Anima.</p>
                    <p>9. After School Hanako-kun.</p>
                    <p>10. Undead Unluck.</p>
                
            </div>
            <div class="avatar">
                <img src="../images/NSou.webp" alt="Avatar">
            </div>
        </div>
        <div class="ImgAnime-table">
            <div class="ImgAnimeBlock-table">
                <img src="../images/NSou1.png" alt="">
            </div>
            <div class="ImgAnimeBlock-table">
                <img src="../images/NSou2.png" alt="">
            </div>
            <div class="ImgAnimeBlock-table">
                <img src="../images/NSou3.webp" alt="">
            </div>
        </div>
    <div id="skill">
                <h1 class="title">Noticias Populares</h1>
                <div class="swiper">
    
            <div class="swiper-wrapper">
                
                <a href="Noticia1.html" class="swiper-slide"> 
                    <img src="../images/Noticiap1.jpg" alt="">
                </a>
                <a href="Noticia3.html" class="swiper-slide"> 
                    <img src="../images/Noticiap2.jpg" alt="">
                </a>
                <a href="Noticia4.html" class="swiper-slide"> 
                    <img src="../images/Noticiap4.jpg" alt="">
                </a>
                <a href="Noticia5.html" class="swiper-slide"> 
                    <img src="../images/Noticiap3.jpg" alt="">
                </a>
                <a href="Noticia6.html" class="swiper-slide">
                    <img src="../images/Noticiap5.jpg" alt="">
                </a>
                
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            
            <div class="swiper-scrollbar"></div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script> swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            loop: true,
            allowTouchMove: true,
            effect: "cube",
            autoplay: {
            delay: 3000,
            pauseOnMouseEnter: true,
            disableOnInteraction: false,
            },
    
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
              dynamicBullets: true,
            },
          
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          
            scrollbar: {
              el: '.swiper-scrollbar',
              draggable: true,
            },
          });
        </script>
            </div>
        <div id="proyect">
            <h1 class="title">Noticias Recientes</h1>
            <table>
                <tr>
                    <td>
                        <a href="Noticia2.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_kaguya-152.jpg');"></div>
                            <h3>Te encantará esta cosplayer de Kaguya-sama: Love is War</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  5 noviembre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia3.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_shingeki-190-1536x864.jpg');"></div>
                            <h3>Shingeki no Kyojin tumba los servidores de Crunchyroll con su final</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  4 noviembre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia5.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_solo-leveling-13-1536x864.jpg');"></div>
                            <h3>Solo Leveling emociona con un nuevo avance</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  1 noviembre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia7.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_noragami-11-1536x864.jpg');"></div>
                            <h3>Noragami llegará a su final en enero</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  1 noviembre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="Noticia8.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_sousou-no-frieren-21-1536x864.jpg');"></div>
                            <h3>Sousou no Frieren está entre lo más visto esta temporada</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  31 octubre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia6.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_jujutsu-kaisen-181-1536x864.jpg');"></div>
                            <h3>Jujutsu Kaisen emociona con un visual para el Incidente de Shibuya</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  30 octubre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia1.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_halloween-2023.jpg');"></div>
                            <h3>¡Feliz Halloween te desea la industria del anime!</h3>
                            <span class="op5 mar2">
                            <i class="fa-clock far op7 mar"></i>
                              30 octubre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia4.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_spy-x-family-181-1536x864.jpg');"></div>
                            <h3>Atsumi Tanezaki, la voz de Anya Forger, anuncia su matrimonio</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  2 octubre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    <div id="contact">
        <h1 class="title">Contacto</h1>
        <ul class="contact">
            <a href="https://www.facebook.com/jorgeivan.garzonsanchez/" target="_blank">
                <li><i class="fab fa-facebook-f"></i></li>
            </a>
            <a href="https://www.instagram.com/jorgeivangarzonsanchez/" target="_blank">
                <li><i class="fab fa-instagram"></i></li>
            </a>
            <a href="https://twitter.com/JorgeIvanGarzo6" target="_blank">
                <li><i class="fab fa-twitter"></i></li>
            </a>
        </ul>
    </div>
    </div>
</body>
</html>