<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shingeki no Kyojin tumba los servidores de Crunchyroll con su final</title>
    <link rel="stylesheet" href="../static/Noticias.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
    <header>
        <div class="menu-container">
            <div class="logo">
                <img src="../images/logo.jpg" alt="Logo" id="logo">
            </div>
            <div class="menu" id="menu2">
                <a href="Registro.html">Registrar</a>
                <a href="Logueo.html">Ingresar</a>
            </div>
        </div>        
        <script src="../script/Inicio.js"></script>
        <div class="navDiv">
            <label for="menu">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        <input type="checkbox" id="menu">
        <ul class="nav">
            <label for="menu">
                <i class="fas fa-times"></i>
            </label>
            <li><a href="Inicio.html">Inicio</a></li>
            <li><a href="#skill">Populares</a></li>
            <li><a href="#proyect">Noticias Recientes</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </header>
    <div class="background"></div>
    <div class="container">
        <div class="banner" id="home">
            <div class="content">
                <h1>Shingeki no Kyojin tumba los servidores de Crunchyroll con su final</h1>
                <span class="op5 mar2">
                    <i class="fa-clock far op7 mar"></i>
                    4 noviembre, 2023
                </span>
                <p>Los servidores de Crunchyroll, la popular plataforma de anime, se encuentran experimentando fallas 
                    hoy debido a una avalancha de usuarios intentando acceder para ver los esperados episodios finales 
                    de “Shingeki no Kyojin” (“Attack on Titan”). Estos episodios fueron publicados apenas unos minutos atrás,
                    y la demanda ha superado con creces la capacidad de los servidores, algo que los usuarios de Crunchyroll 
                    lamentablemente han experimentado en el pasado. A pesar de reportar ganancias millonarias año tras año e 
                    incluso siendo una subsidiaria de la prestigiosa Sony Group Corporation, los usuarios se muestran perplejos
                    ante la incapacidad de Crunchyroll para mejorar la capacidad de sus servidores y satisfacer la creciente demanda.
                    “Shingeki no Kyojin” ha sido una franquicia increíblemente popular que ha mantenido a los fanáticos del anime en 
                    vilo durante una década. Su impacto en la industria del anime es innegable. La serie se ha destacado por su trama 
                    apasionante, personajes complejos y una narrativa que ha explorado temas profundos como la libertad, la opresión 
                    y la lucha por la supervivencia. Además, la calidad de la animación y el diseño de personajes han sido excepcionales.
                    La historia de “Shingeki no Kyojin” ha sido una de las más influyentes en la última década, atrayendo tanto a los
                    fanáticos de larga data como a nuevos seguidores del anime. La serie ha demostrado que el anime puede tener un 
                    alcance global y llegar a una audiencia diversa en todo el mundo.
                    A medida que los fanáticos esperan con ansias el desenlace de “Shingeki no Kyojin,” las fallas en los servidores 
                    de Crunchyroll reflejan la pasión y el entusiasmo que esta serie ha generado a lo largo de los años. A pesar de 
                    las dificultades técnicas, la demanda masiva es un testimonio del impacto duradero de esta franquicia en la 
                    industria del anime.
                </p>
            </div>
            <div class="avatar">
                <img src="../images/NShinge.jpg" alt="Avatar">
            </div>
        </div>
        <div class="ImgAnime-table">
            <div class="ImgAnimeBlock-table">
                <img src="../images/NShinge1.png" alt="">
            </div>
            <div class="ImgAnimeBlock-table">
                <img src="../images/NShinge2.png" alt="">
            </div>
        </div>
    <div id="skill">
                <h1 class="title">Noticias Populares</h1>
                <div class="swiper">
    
            <div class="swiper-wrapper">
                
                <a href="Noticia1.html" class="swiper-slide"> 
                    <img src="../images/Noticiap1.jpg" alt="">
                </a>
                <a href="Noticia3.html" class="swiper-slide"> 
                    <img src="../images/Noticiap2.jpg" alt="">
                </a>
                <a href="Noticia4.html" class="swiper-slide"> 
                    <img src="../images/Noticiap4.jpg" alt="">
                </a>
                <a href="Noticia5.html" class="swiper-slide"> 
                    <img src="../images/Noticiap3.jpg" alt="">
                </a>
                <a href="Noticia6.html" class="swiper-slide">
                    <img src="../images/Noticiap5.jpg" alt="">
                </a>
                
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            
            <div class="swiper-scrollbar"></div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script> swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            loop: true,
            allowTouchMove: true,
            effect: "cube",
            autoplay: {
            delay: 3000,
            pauseOnMouseEnter: true,
            disableOnInteraction: false,
            },
    
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
              dynamicBullets: true,
            },
          
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          
            scrollbar: {
              el: '.swiper-scrollbar',
              draggable: true,
            },
          });
        </script>
            </div>
        <div id="proyect">
            <h1 class="title">Noticias Recientes</h1>
            <table>
                <tr>
                    <td>
                        <a href="Noticia2.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_kaguya-152.jpg');"></div>
                            <h3>Te encantará esta cosplayer de Kaguya-sama: Love is War</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  5 noviembre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia3.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_shingeki-190-1536x864.jpg');"></div>
                            <h3>Shingeki no Kyojin tumba los servidores de Crunchyroll con su final</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  4 noviembre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia5.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_solo-leveling-13-1536x864.jpg');"></div>
                            <h3>Solo Leveling emociona con un nuevo avance</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  1 noviembre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia7.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_noragami-11-1536x864.jpg');"></div>
                            <h3>Noragami llegará a su final en enero</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  1 noviembre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="Noticia8.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_sousou-no-frieren-21-1536x864.jpg');"></div>
                            <h3>Sousou no Frieren está entre lo más visto esta temporada</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  31 octubre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia6.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_jujutsu-kaisen-181-1536x864.jpg');"></div>
                            <h3>Jujutsu Kaisen emociona con un visual para el Incidente de Shibuya</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  30 octubre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia1.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_halloween-2023.jpg');"></div>
                            <h3>¡Feliz Halloween te desea la industria del anime!</h3>
                            <span class="op5 mar2">
                            <i class="fa-clock far op7 mar"></i>
                              30 octubre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a href="Noticia4.html">
                        <div class="news-box">
                            <div class="news-image" style="background-image: url('../images/portada_spy-x-family-181-1536x864.jpg');"></div>
                            <h3>Atsumi Tanezaki, la voz de Anya Forger, anuncia su matrimonio</h3>
                            <span class="op5 mar2">
                                <i class="fa-clock far op7 mar"></i>
                                  2 octubre, 2023
                            </span>
                        </div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    <div id="contact">
        <h1 class="title">Contacto</h1>
        <ul class="contact">
            <a href="https://www.facebook.com/jorgeivan.garzonsanchez/" target="_blank">
                <li><i class="fab fa-facebook-f"></i></li>
            </a>
            <a href="https://www.instagram.com/jorgeivangarzonsanchez/" target="_blank">
                <li><i class="fab fa-instagram"></i></li>
            </a>
            <a href="https://twitter.com/JorgeIvanGarzo6" target="_blank">
                <li><i class="fab fa-twitter"></i></li>
            </a>
        </ul>
    </div>
    </div>
</body>
</html>